<nav class="navbar navbar-dark navbar-1">
  <div class="sidebar-logo-1">
    <%= link_to 'RentCar', root_path, id: 'demoFont-1', class: 'navbar-brand-1'%>
  </div>
  <% if current_customer.present? %>
    <div class="position-body-navbar">
      <div class="link">
        <% if current_customer.picture.present? %>
          <%= image_tag current_customer.picture.url.url, class: 'customer-avatar' %>
        <%else %>
          <%= image_tag 'https://cdn.pixabay.com/photo/2012/04/26/19/43/profile-42914_960_720.png',
            class: 'customer-avatar'%>
        <%end %>
        <h5 class="name-customer">
          <%= current_customer.name %>
        </h5>
      </div>
    <ul class="navbar-nav mt-2 mt-lg-0" >
      <li class="nav-item link link-out">
        <%= link_to 'Long out', destroy_customer_session_path, method: 'delete', class: 'nav-link link-color' %>
      </li>
  <%else %>
    <div class="position-body-navbar">
      <li class="nav-item link">
        <%= link_to 'Sign up', new_customer_registration_path, class: 'nav-link link-color' %>
      </li>
      <li class="nav-item link">
        <%= link_to 'Log in', customer_session_path, class: 'nav-link link-color' %>
      </li>
    </div>
  <%end %>
  </ul>
  </div>
</nav>
