<div class="size_new">
  <main class="form-new">
    <h6 class="logo-new">New salon form</h6>
    <div class="form-group form-group-new">
      <%= form_for [:admin, @salon], class: 'md-form' do |f| %>
        <%= f.fields_for :picture, @salon.picture || @salon.build_picture do |ff| %>
          <%= ff.label :url, 'Image', class: 'label' %>
          <%= ff.file_field :url , class: 'image-salon' %>
          <small id="bodyHelp" class="form-text text-danger">
            <%= @salon.errors['picture.url'].join(', ') %>
          </small>
        <% end %>
        <div class="field">
          <%= f.label :name, 'Salon name', class: 'label' %>
          <%= f.search_field :name, required: true, autocomplete: 'name', class: 'form-control borders-new-salon',
            placeholder: 'Enter name' %>
        </div>
        <div class="butt-height">
          <%= button_tag 'Save', class: ' btn btn-primary button-salon-new' %>
        </div>
      <% end %>
    </div>
  </main>
</div>