<div class="media size-salons-show">
  <main class="show-maim">
      <div class="show-display">
        <div class="image-show">
        <% if @salon.picture.present? %>
          <%= image_tag @salon.picture.url.url, class: 'media-object image-wid-hei-show '%>
        <% else %>
          <img src="https://www.driversupport.com/wp-content/uploads/2018/04/Placeholder.gif"
               alt=" media-object image" class="image-wid-hei-show ">
        <% end %>
      </div>
      <div class="show-table">
        <table class="table table-bordered">
          <thead>
          </thead>
          <tbody>
            <tr><td>Id:</td><td><%= @salon.id %></td></tr>
            <tr><td>Name:</td><td><%= @salon.name %></td></tr>
            <tr><td>Created At:</td><td><%= @salon.created_at%></td></tr>
            <tr><td>Updated At:</td><td><%= @salon.updated_at%></td></tr>
          </tbody>
        </table>
        </div>
    <div class="link-show">
      <%= link_to 'Edit', edit_admin_salon_path(@salon), class: 'button_show button-margin' %>
      <%= link_to 'Delete', admin_salon_path, method: :delete, class: 'button_show button-margin' %>
    </div>
      </div>
  </main>
</div>
