<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'devise/shared/error_messages', resource: resource %>
  <%= f.hidden_field :reset_password_token %>
  <div class="size-reset-customer">
    <main class="form-reset-customer">
      <div>
        <i class="far fa-user image-reset"></i>
        <h2 class="label-reset">Change your password</h2>
        <div class="field">
          <%= f.password_field :password, autofocus: true, autocomplete: 'new-password',
            placeholder: 'Enter your new password', class: 'form-control borders-reset-customer' %>
        </div>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Password confirmation',
            class: 'form-control borders-reset-customer'%>
        </div>
        <div class="butt-height-reset">
          <%= button_tag 'Change my password', class: 'btn button-customer-reset' %>
        </div>
        <div class="butt-height-reset">
          <%= link_to 'Sign up', new_customer_registration_path, class: 'btn button-customer-link-reset'%>
        </div>
      </div>
      <div class="butt-height-reset">
        <%= link_to 'Log in', customer_session_path, class: ' btn button-customer-link-reset link-login'%>
      </div>
    </main>
  </div>
<% end %>

