<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render 'devise/shared/error_messages', resource: resource %>
  <div class="size-forgot-customer ">
    <main class="form-forgot-customer ">
      <div>
        <i class="far fa-user image-forgot"></i>
        <h2 class="label-forgot">Forgot your password?</h2>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: 'email',
            class: 'form-control borders-forgot-customer',
            placeholder: 'Enter your email' %>
        </div>
        <div class="butt-height-forgot">
          <%= button_tag 'Reset password ', class: 'btn button-customer-forgot' %>
        </div>
        <div class="butt-height-forgot">
          <%= link_to 'Sign up', new_customer_registration_path, class: 'btn button-customer-link-forgot'%>
        </div>
      </div>
      <div class="butt-height-forgot">
        <%= link_to 'Log in', customer_session_path, class: 'btn button-customer-link-forgot link-login'%>
      </div>
    </main>
  </div>
<% end %>
