<div class="car-positions car-hover">
  <main class="main-car">
    <div class="car">
      <div>
        <% if car.picture.present? %>
          <%= image_tag car.picture.url.url, class: 'image-size' %>
        <% else %>
          <%= image_tag 'https://www.driversupport.com/wp-content/uploads/2018/04/Placeholder.gif', class: 'image-size' %>
        <% end %>
      </div>
      <div class="position-car-points">
        <div id="container-car" >
          <h3 class="car-name">
            <%= car.brand %>
            <%= car.model %>
          </h3>
          <div class="points-position">
            <i class="fas fa-tint car-points"></i> <p class="points color-points"><%= car.color %></p>
          </div>
          <div class="points-position">
            <i class="far fa-calendar-alt car-points"></i> <p class="points color-points"> <%=car.age %></p>
          </div>
          <div class="points-position">
            <i class="fas fa-cogs car-points" ></i> <p class="points color-points"> engine <%= car.engine %></p>
          </div>
          <div class="points-position">
            <i class="fas fa-gas-pump car-points"></i> <p class="points color-points"> <%= car.fuel_type %></p>
          </div>
          <div class="points-position">
            <% if car.enum_status? %>
              <i class="fas fa-unlock-alt car-points"></i><p class="points status-free">free</p>
            <% else %>
              <i class="fas fa-unlock-alt car-points"></i>><p class="points status-close">close</p>
            <%end %>
          </div>
        </div>
        <div id="container-car" >
          <h3 class="car-price"> Price per day: 1000$</h3>
          <div class="button-rent-position">
            <%= button_tag 'Rent car', class: 'button-rent-car' %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>