<div class="car-positions car-hover">
  <main class="main-car">
    <div class="car">
      <div>
        <% if car.picture.present? %>
          <%= image_tag car.picture.url.url, class: 'image-size' %>
        <% else %>
          <%= image_tag 'https://www.driversupport.com/wp-content/uploads/2018/04/Placeholder.gif', class: 'image-size' %>
        <% end %>
      </div>
      <div class="position-car-points">
        <div id="container-car-1" >
          <h3 class="car-name">
            <%= car.brand %>
            <%= car.model %>
          </h3>
          <div class="points-position">
            <i class="fas fa-tint car-points"></i> <p class="points color-points"><%= car.color %></p>
          </div>
          <div class="points-position">
            <i class="far fa-calendar-alt car-points"></i> <p class="points color-points"> <%=car.age %></p>
          </div>
          <div class="points-position">
            <i class="fas fa-cogs car-points" ></i> <p class="points color-points"> engine <%= car.engine %></p>
          </div>
          <div class="points-position">
            <i class="fas fa-gas-pump car-points"></i> <p class="points color-points"> <%= car.fuel_type %></p>
          </div>
          <div class="points-position">
            <% if car.enum_status? %>
              <i class="fas fa-unlock-alt car-points"></i><p class="points status-free">free</p>
            <% else %>
              <i class="fas fa-unlock-alt car-points"></i><p class="points status-close">close</p>
            <%end %>
          </div>
        </div>
        <div id="container-car-2" >
          <h3 class="car-price"> Price per day: 1000$</h3>
          <% if current_customer.present? %>
            <% if car.enum_status? %>
              <%= form_for @order do |f| %>
                <%= f.hidden_field :customer_name, value: current_customer.name %>
                <%= f.hidden_field :car_brand, value: car.brand %>
                <%= f.hidden_field :car_model, value: car.model %>
                <%= f.hidden_field :customer_id, value: current_customer.id %>
                <%= f.hidden_field :car_id,  value: car.id %>
                <%= f.hidden_field :salon_id, value: @salon.id %>
                <%= f.hidden_field :salon_name, value: @salon.name %>
                <div class="button-rent-position">
                  <%= button_tag 'Rent car' ,class: 'button-rent-car' %>
                </div>
              <%end %>
            <%end %>
          <%end %>
        </div>
      </div>
    </div>
  </main>
</div>