<!DOCTYPE html>
<html>
  <head>
    <title>RentCar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="bower_components/jcrop/css/jquery.Jcrop.css" />

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jcrop/js/jquery.Jcrop.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ng-jcrop/ng-jcrop.js"></script>
    <script src="https://kit.fontawesome.com/60eb106a1c.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>

  <body>
    <%= render 'navbar/nav' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
